@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Ubuntu:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  display: flex !important;
  justify-content: space-between !important;
}
.css-qiwgdb.css-qiwgdb.css-qiwgdb {
  display: flex !important;
}
.css-1km1ehz {
  display: flex !important;
  justify-content: space-between !important;
}
.select-search {
  width: 300px;
  position: relative;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

.select-search *,
.select-search *::after,
.select-search *::before {
  box-sizing: inherit;
}

/**
* Value wrapper
*/
.select-search__value {
  position: relative;
  z-index: 1;
}

.select-search__value::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 9px);
  right: 19px;
  width: 11px;
  height: 11px;
}

/**
* Input
*/
.select-search__input {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 40px 0 16px;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 36px;
  -webkit-appearance: none;
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.select-search__input:not([readonly]):focus {
  cursor: initial;
}

/**
* Options wrapper
*/
.select-search__select {
  background: #fff;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
}

/**
* Options
*/
.select-search__options {
  list-style: none;
  padding: 0;
}

/**
* Option row
*/
.select-search__row:not(:first-child) {
  border-top: 1px solid #eee;
}

/**
* Option
*/
.select-search__option,
.select-search__not-found {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  border: none;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

.select-search--multiple .select-search__option {
  height: 48px;
}

.select-search__option.is-selected {
  background: #2fcc8b;
  color: #fff;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
  background: rgba(47, 204, 139, 0.1);
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
  background: #2eb378;
  color: #fff;
}

/**
* Group
*/
.select-search__group-header {
  font-size: 10px;
  text-transform: uppercase;
  background: #eee;
  padding: 8px 16px;
}

/**
* States
*/
.select-search.is-disabled {
  opacity: 0.5;
}

.select-search.is-loading .select-search__value::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='%232F2D37' d='M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
  background-size: 11px;
}

.select-search:not(.is-disabled) .select-search__input {
  cursor: pointer;
}

/**
* Modifiers
*/
.select-search--multiple {
  border-radius: 3px;
  overflow: hidden;
}

.select-search:not(.is-loading):not(.select-search--multiple)
  .select-search__value::after {
  transform: rotate(45deg);
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  pointer-events: none;
}

.select-search--multiple .select-search__input {
  cursor: initial;
}

.select-search--multiple .select-search__input {
  border-radius: 3px 3px 0 0;
}

.select-search--multiple:not(.select-search--search) .select-search__input {
  cursor: default;
}

.select-search:not(.select-search--multiple) .select-search__input:hover {
  border-color: #2fcc8b;
}

.select-search:not(.select-search--multiple) .select-search__select {
  position: absolute;
  z-index: 2;
  top: 44px;
  right: 0;
  left: 0;
  border-radius: 3px;
  overflow: auto;
  max-height: 360px;
}

.select-search--multiple .select-search__select {
  position: relative;
  overflow: auto;
  max-height: 260px;
  border-top: 1px solid #eee;
  border-radius: 0 0 3px 3px;
}

.select-search__not-found {
  height: auto;
  padding: 16px;
  text-align: center;
  color: #888;
}

.webslider {
  display: block;
}
.mobslider {
  display: none;
}
.car-headings-icon {
  padding-right: 20px;
}
.partnermobslider {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.homeName {
  height: 50px;
  width: 220px;
  outline: none;
  font-size: 16px;
  font-family: "Poppins";
  padding: 5px 12px;
  background: #ffffff;
  border: 1px solid rgba(88, 85, 98, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}
.email-home {
  margin-right: 8px;
}
.homeName::placeholder {
  padding: 5px 12px;
  font-size: 16px;
}
.partnerslider {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.about-links {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8px;
  right: -7px;
}
.about {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  // align-items: flex-end;
}
.about-background {
  background-color: #f9f9fb;
  margin-top: 80px;
}

.about-img-flex {
  width: 30%;
  height: 100%;
  margin: 0 auto;
}

.about-img-div {
  width: 345px;
  margin: 0 auto;
  margin-top: 4rem;
  height: 100%;
}
.about-mobile {
  width: 100%;
  height: 100%;
}
.about-content-flex {
  width: 55%;
  margin: 20px auto;
}
.about-link {
  color: #ec7735;
  font-size: 16px;
  font-family: "poppins";
  font-weight: 600;
}

.about-link-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 3px;
  right: 74px;
}
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .card {
    background-color: white;
    margin: 30px auto;
    width: 350px;
    height: 250px;
    border-radius: 40px;
    // box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    .card_title {
      position: absolute;
      top: 80px;
      /* left: 17px; */
      padding-left: 34px;
      text-align: left;
      border-radius: 0px 0px 40px 40px;
      font-family: "poppins";
      font-weight: 400;
      font-size: 15px;
    }
    .card_heading {
      position: absolute;
      top: 53px;
      /* left: 17px; */
      padding-left: 34px;
      text-align: left;
      border-radius: 0px 0px 40px 40px;
      font-family: "poppins";
      font-weight: 400;
      font-size: 15px;
      // margin-top: -150px;
    }
    .card_image {
      width: inherit;
      height: inherit;
      border-radius: 40px;
      img {
        width: inherit;
        height: inherit;
        border-radius: 40px;
        object-fit: cover;
      }
    }
    .title-white {
      color: white;
    }

    .title-black {
      color: black;
    }
    .slider-images {
      width: 100%;
      height: 100%;
      border-radius: 40px;
      background-size: cover;
      background-position: center;
    }
  }

  // .card:hover {
  //   transform: scale(0.9, 0.9);
  //   box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
  //     -5px -5px 30px 15px rgba(0,0,0,0.22);
  // }
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .card2 {
    background-color: white;
    margin: 30px auto;
    width: 260px;
    height: 170px;
    border-radius: 12px;
    // box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    .card_title {
      position: absolute;
      top: 80px;
      /* left: 17px; */
      padding-left: 34px;
      text-align: left;
      border-radius: 0px 0px 40px 40px;
      font-family: "poppins";
      font-weight: 400;
      font-size: 15px;
    }
    .card_heading {
      position: absolute;
      top: 53px;
      /* left: 17px; */
      padding-left: 34px;
      text-align: left;
      border-radius: 0px 0px 40px 40px;
      font-family: "poppins";
      font-weight: 400;
      font-size: 15px;
      // margin-top: -150px;
    }
    .card_image {
      width: inherit;
      height: inherit;
      border-radius: 40px;
      img {
        width: inherit;
        height: inherit;
        border-radius: 40px;
        object-fit: cover;
      }
    }
    .title-white {
      color: white;
    }

    .title-black {
      color: black;
    }
  }

  // .card:hover {
  //   transform: scale(0.9, 0.9);
  //   box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
  //     -5px -5px 30px 15px rgba(0,0,0,0.22);
  // }
}
.sayara-work-background {
  margin-top: 80px;
}

.offering {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}
.offering-info-flex {
  width: 35%;
  height: 100%;
  //  margin:0 auto;
  margin-left: 53px;
}
.sayara-offer-heading {
  color: #151c28;
  font-size: 40px;
  font-family: "poppins";
  font-weight: 700;
  line-height: 47px;
}
.sayara-offer-p {
  color: #585562;
  font-size: 18px;
  font-family: "poppins";
  font-weight: 500;
  line-height: 27px;
  margin-top: 20px;
}
.sayara-download-btn {
  background-color: #151c28 !important;
  // font-family: 'poppins';
  // padding:12px 25px !important;
  // font-size: 12px !important;
  width: 280px;
  height: 64px;

  font-size: 14px;
  padding: 16px 24px;
  background: #151c28;
  border-radius: 8px;
  /* identical to box height */

  text-align: center !important;

  color: #ffffff !important;
}
.sayara-download-btn1 {
  background-color: transparent !important;
  // font-family: 'poppins';
  // padding:12px 25px !important;
  // font-size: 12px !important;
  font-family: "poppins";
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  /* identical to box height */
  margin-left: 20px;
  text-align: center !important;
  box-shadow: none !important;
  color: #ffffff !important;
}
.sayara-offering-card-flex {
  // width:50%;
  //  margin:20px auto;
  width: 58%;
  margin-top: 8rem;
}
.sayara-offering-pkg {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sayara-offering-pkg .car-setting {
  height: 180px;
  width: 213px;
  background-color: #ffffff;
  margin: 10px auto;
  border: 1px solid rgba(88, 85, 98, 0.16);
  border-radius: 12px;
  position: relative;
  // margin: 10px 0px;
}
.car-setting .icon-home-div {
  width: 138px;
  height: 30px;
  padding: 7px;
  position: absolute;
  right: 0;
  background: linear-gradient(105.84deg, #1a4898 0.81%, #003096 100%);
  border-radius: 0px 0px 4px 4px;
  border-top-right-radius: 10px;
}

.icon-heading-home {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 12px;
  line-height: 18px;

  align-items: center;

  color: #ffdf34;
}
.icon-div-homeicon {
  width: 48px;
  height: 48px;
}
.icon-images-home {
  height: 100%;
  width: 100%;
}
.icon-maindiv-home {
  margin-top: 40px;
  margin-left: 12px;
}
.icon-maindiv-heading {
  margin-top: 20px;
}
.icon-maindiv-heading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #151c28;
}
.sayara-works-div {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.sayara-works-flex-content {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}
.sayara-work-headings {
  color: #151c28;
  font-family: "Poppins", "Medium 500";
  text-align: left;
  font-size: 35px;
  // font-size: 40px;
  line-height: 48px;
  padding-bottom: 25px;
  font-weight: bold;
}

.sayara-work-image-flex {
  width: 30%;
  margin: 20px auto;
}
.sayara-work-image {
  height: 100%;
  width: 100%;
  margin-top: 20%;
}

.our-custmers-background {
  margin-top: 80px;
  background-color: #f9f9fb;
}
.our-custmers-info {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.our-custmers-content {
  margin: 0 auto;
  width: 50%;
  padding-top: 70px;
}
.custmer-heading {
  color: #151c28;
  font-size: 40px;
  font-family: "poppins";
  font-weight: 700;
  line-height: 47px;
}
.custmer-para {
  color: #585562;
  font-size: 18px;
  font-family: "poppins";
  font-weight: 500;
  line-height: 27px;
  padding: 16px 145px;
}
.custmer-main-div {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin: 0 auto;
  padding-bottom: 85px;
}
.custmer-card-main {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.custmer-card-heading {
  color: black;
  padding: 10px 10px;
  line-height: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;

  color: #151c28;
}
.custmer-card-para {
  color: black;
  padding: 10px 10px;
  padding-right: 18px;
  line-height: 20px;
}
.user-name {
  color: black;
  font-size: 15px;
  text-align: left;
}
.ratings-group {
  display: flex;
  margin-top: 10px;
}
.user-rating {
  color: black;
  padding-top: 6px;
}
.our-backbone-background {
  margin-top: 80px;
  max-width: 1200px;
  margin: 0 auto;
}
.our-backbone {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
.our-backbone-flex {
  width: 63%;
}
.our-heading-para-group {
  margin-top: 70px;
}
.our-backbone-heading {
  color: #151c28;
  // font-size:40px;
  font-size: 35px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  line-height: 47px;
}
.our-backbone-para {
  color: #585562;
  font-size: 18px;
  font-family: "poppins";
  font-weight: 500;
  line-height: 27px;
  // margin-top: 20px;
  margin-top: 15px;
  padding-right: 38%;
}
.our-backbone-btn {
  width: 20%;
}
.our-backbone-btn1 {
  background-color: transparent !important;
  // font-family: 'poppins';
  // padding:12px 25px !important;
  // font-size: 12px !important;
  font-family: Poppins;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  /* identical to box height */

  text-align: center !important;
  box-shadow: none !important;
  color: #ffffff !important;
}
.our-backbone-right-arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 7px;
  right: -11px;
}
.ourbackbone-sliderweb {
  width: 100%;
  margin: 20px auto;
}
.ourbackbone-sliderphone {
  width: 100%;
  margin: 20px auto;
  display: none;
}

.social-app-background {
  margin-top: 80px;
  background-color: #f9f9fb;
}
.sayara-app {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}
.sayara-app-info {
  width: 50%;
  height: auto;
}
.sayara-img-app {
  height: auto;
  width: 100%;
}
.sayara-app-content {
  width: 40%;
  margin: 20px auto;
  padding: 12px 43px;
}
.sayara-app-heading-group {
  margin-top: 83px;
}
.sayara-app-heading {
  text-align: center;
  font-size: 35px;
  font-family: "poppins";
  font-weight: 700;
  line-height: 48px;
  color: #151c28;
}
.sayara-app-para {
  color: #585562;
  font-family: "poppins";
  font-weight: 400;
  font-size: 15px;
  line-height: 42px;
  text-align: center;
}
// .sayara-app-heading{
//   text-align:center;
//   font-size:17px;
//   font-weight:400;
//   font-family:'poppins';
//   line-height:50px;
//   color:#585562
// }
.social-app-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 4px auto;
}
.social-flex1 {
  width: 40%;
}
.social-flex1 img {
  width: 100%;
  height: 100%;
}
.social-flex2 {
  width: 40%;
}
.social-flex2 img {
  width: 100%;
  height: 100%;
}
.arrow {
  position: absolute;
  color: #000000;
  font-size: 2.5em;
  font-weight: bold;

  cursor: pointer;
}

.nextArrow {
  top: 125px;
  right: 3px;
}

.prevArrow {
  top: 125px;
  left: 3px;
  z-index: 1;
}

.prevArrow1 {
  top: 125px;
  left: -10px;
  z-index: 1;
}

.about-info {
  // position: relative;
  color: #222;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  // padding: 0px 60px;
  .content-head-left {
    padding-top: 20px;
    width: 70%;
    h1 {
      font-size: 35px;
      font-family: "poppins";
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      padding-top: 15px;
      font-family: "poppins";
      color: #585562;
    }
    // @media only screen and (max-width: 800px){
    //   padding-top:30px;
    //   padding-left:20px;
    // }
  }
  .content-head-right {
    width: 30%;
    position: relative;
    top: -38px;
    // a{
    //   font-size: 22px;
    //   position: absolute;
    //   top: -15px;
    //   font-weight: 600;
    //   left: 32px;

    // }
  }
  .about-images {
    margin-top: 30px;
    width: 25%;
    height: 200px;
    padding-right: 15px;
    // position: relative;

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .App {
    font-family: sans-serif;
    padding: 10px 30px;
    background-color: white !important;
  }

  .App > div {
    background-color: #5c2e91;
    background-color: #fff;
    color: #fff;
    color: #3498db;
    text-align: center;
  }
}
.banner-left-container h1 {
  color: #151c28;
  font-family: "Poppins";
  font-weight: 700px;
  size: 48px;
  line-height: 57.6px;
  text-align: left;
  // padding:25px 16px 16px 0
}
.banner-left-container p {
  font-size: 16px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  padding-right: 28px;
  line-height: 27px;
  color: #9093ad;
}
.img-div {
  width: 100%;
  margin: 0 auto;
  padding: 25px 25px;
}
.dropdown {
  padding-left: 0 !important;
}
.button-getfree {
  background-color: #151c28 !important;
  width: 100%;
  font-size: 16px;
  font-family: "poppins" !important;
  font-weight: 600 !important;
  padding: 12px 12px !important;
}
.dropdown-group {
  display: flex;
  justify-content: space-between;
}

.main {
  display: flex;
  justify-content: space-between;
  // background-color: green;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.offering-pkg div {
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  margin: 10px auto;
  border: 1px solid rgba(88, 85, 98, 0.16);
  border-radius: 12px;
  // margin: 10px 0px;
}

.offer-heading {
  color: #151c28;
  font-size: 40px;
  font-family: "poppins";
  font-weight: 700;
  line-height: 47px;
}
.offer-p {
  color: #585562;
  font-size: 18px;
  font-family: "poppins";
  font-weight: 500;
  line-height: 27px;
  margin-top: 20px;
}

// .offer-heading1{
//   color:#151C28;
//   font-size: 40px;
//   font-family: 'poppins';
//   font-weight: 700;
//   line-height: 47px;
// }
.offer-p1 {
  color: #585562;
  font-size: 18px;
  font-family: "poppins";
  font-weight: 500;
  line-height: 27px;
  padding: 16px 132px;
}
.download-btn {
  background-color: #151c28 !important;
  // font-family: 'poppins';
  // padding:12px 25px !important;
  // font-size: 12px !important;
  font-family: Poppins;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  /* identical to box height */

  text-align: center !important;

  color: #ffffff !important;
}
.download-btn1 {
  background-color: transparent !important;
  // font-family: 'poppins';
  // padding:12px 25px !important;
  // font-size: 12px !important;
  font-family: Poppins;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  /* identical to box height */

  text-align: center !important;
  box-shadow: none !important;
  color: #ffffff !important;
}
.slider {
  max-width: 1200px;
  margin: 0 auto;
}
.main .flexdiv {
  flex-basis: 48%;
  padding: 12px 12px;
  // background-color: red;
}
.banner-container {
  padding: 20px;
}

/* -------------------------------------------------------------------------
  VERTICAL STEPPERS
-------------------------------------------------------------------------- */

/* Steps */
.step {
  position: relative;
  min-height: 1em;
  color: gray;
  height: 94px;
}
// .step + .step {
//   margin-top: 1.5em
// }
.step > div:first-child {
  position: static;
  height: 0;
}
.step > div:not(:first-child) {
  margin-left: 1.5em;
  padding-left: 1em;
}
// .step.step-active {
//   color: #4285f4
// }
.step.step-active .circle {
  background-color: #fff4eb;
}

/* Circle */
.circle {
  background: #fff4eb;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 100%;
  color: #fb7e15;
  text-align: center;
  box-shadow: 0 0 0 3px #fff;
}

/* Vertical Line */
.circle:after {
  content: " ";
  position: absolute;
  display: block;
  top: 1px;
  right: 50%;
  bottom: 1px;
  left: 50%;
  height: 100%;
  width: 1px;
  transform: scale(1, 2);
  transform-origin: 50% -100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
}
.step:last-child .circle:after {
  display: none;
}

/* Stepper Titles */
.title {
  line-height: 1.5em;
  font-weight: bold;
}
.title {
  line-height: 28.8px;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  font-family: "poppins";
}

.caption {
  font-size: 16px;
  color: "#585562";
  line-height: 27px;
  font-family: "poppins";
  font-weight: 400;
  padding-right: 66px;
}
#float-right {
  float: right;
}

/* ******************************************************
	Script Top
*********************************************************/

.ScriptTop {
  background: #fff none repeat scroll 0 0;
  float: left;
  font-size: 0.69em;
  font-weight: 600;
  line-height: 2.2;
  padding: 12px 0;
  text-transform: uppercase;
  width: 100%;
}

/* To Navigation Style 1*/
.ScriptTop ul {
  margin: 24px 0;
  padding: 0;
  text-align: left;
}
.ScriptTop li {
  list-style: none;
  display: inline-block;
}
.ScriptTop li a {
  background: #6a4aed none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 18px;
  text-decoration: none;
  text-transform: capitalize;
}
.ScriptTop li a:hover {
  background: #000;
  color: #fff;
}

/* ******************************************************
	Script Header
*********************************************************/

.ScriptHeader {
  float: left;
  width: 100%;
  padding: 2em 0;
}
.rt-heading {
  margin: 0 auto;
  text-align: center;
}
.Scriptcontent {
  line-height: 28px;
}
.ScriptHeader h1 {
  font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro",
    "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue",
    Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #6a4aed;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  line-height: normal;
}
.ScriptHeader h2 {
  color: #312c8f;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0 0;
  line-height: normal;
}
.ScriptHeader h1 span {
  display: block;
  padding: 0;
  font-size: 22px;
  opacity: 0.7;
  margin-top: 5px;
}
.ScriptHeader span {
  display: block;
  padding: 0;
  font-size: 22px;
  opacity: 0.7;
  margin-top: 5px;
}

/* ******************************************************
	Live Demo
*********************************************************/

/* ******************************************************
	Responsive Grids
*********************************************************/

.rt-container {
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}
.rt-row:before,
.rt-row:after {
  display: table;
  line-height: 0;
  content: "";
}

.rt-row:after {
  clear: both;
}
[class^="col-rt-"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0 15px;
  min-height: 1px;
  position: relative;
}

@media (min-width: 768px) and (max-width: 968px) {
  .rt-container {
    width: 750px;
  }
  [class^="col-rt-"] {
    float: left;
    width: 49.9999999999%;
  }
  .col-rt-6,
  .col-rt-12 {
    width: 100%;
  }

  .title {
    // line-height: 6px;
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    font-family: "poppins";
  }
  .caption {
    font-size: 12px;
    color: "#585562";
    line-height: 19px;
    font-family: "poppins";
    font-weight: 400;
    padding-right: 5px;
  }
  .webslider {
    display: none !important;
  }
  .mobslider {
    display: block;
    // width: 90%;
    // margin: 0 auto;
  }
  .nextArrow {
    top: 129px;
    right: 10px;
  }

  .prevArrow {
    top: 108px;
    left: -4px;
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  .rt-container {
    width: 1170px;
  }
  .col-rt-1 {
    width: 16.6%;
  }
  .col-rt-2 {
    width: 30.33%;
  }
  .col-rt-3 {
    width: 50%;
  }
  .col-rt-4 {
    width: 67.664%;
  }
  .col-rt-5 {
    width: 83.33%;
  }
}

@media only screen and (min-width: 240px) and (max-width: 768px) {
  .ScriptTop h1,
  .ScriptTop ul {
    text-align: center;
  }
  .ScriptTop h1 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .ScriptTop ul {
    margin-top: 12px;
  }

  .ScriptHeader h1,
  .ScriptHeader h2,
  .scriptnav ul {
    text-align: center;
  }
  .scriptnav ul {
    margin-top: 12px;
  }
  #float-right {
    float: none;
  }
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  display: flex !important;
  justify-content: space-between !important;
}
// .css-1k5i4hk-MuiFormControl-root{
//   min-width: 220px !important;
//   width: 220px !important;
// }
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
.offering1 {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.container1 {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  // background-color: #fff;
  // border-radius: 10px;
  // box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: #ffffff;
  border-radius: 16px;
  width: 250px;
}
.mobilecards-partner {
  margin: 10px;
  // background-color: #fff;
  // border-radius: 10px;
  // box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: #ffffff;
  border-radius: 16px;
  width: 310px !important;
}
.cards-partner {
  margin: 10px;
  // background-color: #fff;
  // border-radius: 10px;
  // box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: #ffffff;
  border-radius: 16px;
  width: 350px !important;
}
.cardmain-container-custmerlist {
  width: 88%;

  margin: 0 auto;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
// .card-body {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: flex-start;
//   padding: 20px;
//   min-height: 250px;
// }

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
  margin-left: 20px;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

@media screen and(max-width:768px) {
  .mobile-card {
    display: block;
  }
  .main {
    display: block;
    justify-content: space-between;
    // background-color: green;
    width: 100%;

    margin: 0 auto;
  }

  .main .flexdiv {
    flex-basis: 100%;
    padding: 12px 12px;
    // background-color: red;
  }
  .banner-container {
    padding: 20px;
  }
}

@media screen and(max-width:600px) {
  .sayara-offering-pkg .car-setting {
    width: 144px;
  }
  .email-home {
    margin-right: 8px;
    margin-top: 10px;
  }
  .main .flexdiv {
    padding: 12px 3px;
  }
  //   .main .flexdiv{
  // width: 151px;
  //   }

  .homeName {
    height: 50px;
    width: 145px;
    outline: none;
    font-size: 8px;
    font-family: "Poppins";
    padding: 5px 5px;
    background: #ffffff;
    border: 1px solid rgba(88, 85, 98, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 0px;
  }
  .banner-container {
    padding: 0px;
  }
  .custmer-card-main {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .title {
    // line-height: 6px;
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    font-family: "poppins";
  }
  .caption {
    font-size: 12px;
    color: "#585562";
    line-height: 19px;
    font-family: "poppins";
    font-weight: 400;
    padding-right: 5px;
  }
  .webslider {
    display: none !important;
  }
  .mobslider {
    display: block;
    // width: 90%;
    // margin: 0 auto;
  }
  .nextArrow {
    top: 129px;
    right: 10px;
  }

  .prevArrow {
    top: 129px;
    left: 10px;
    z-index: 1;
  }
  .about {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    // align-items: flex-end;
  }
  .about-content-flex {
    width: 100%;
    margin: 20px auto;
  }
  .about-img-flex {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .about-img-div {
    width: 100%;
    margin: 0 auto;
    margin-top: 4rem;
    height: 100%;
  }
  .about-info {
    // position: relative;
    color: #222;
    display: flex;
    align-items: center;
    margin-top: 25px;
    flex-wrap: wrap;
    // padding: 0px 60px;
    .content-head-left {
      padding-top: 20px;
      width: 100%;
      h1 {
        text-align: center;
        font-size: 40px;
        font-family: "poppins";
        padding: 12px 16px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        padding: 12px 16px;
        font-family: "poppins";
        color: #585562;
        text-align: center;
      }
      // @media only screen and (max-width: 800px){
      //   padding-top:30px;
      //   padding-left:20px;
      // }
    }
    .content-head-right {
      width: 100%;
      position: relative;
      top: 20px;
      text-align: center;
      a {
        font-size: 22px;
        position: absolute;
        top: 0;
        font-weight: 600;
        left: 30%;
        text-align: center;
      }
    }

    .about-images {
      margin: 0 auto;
      margin-top: 25px;
      width: 38%;
      height: auto;
      padding-right: 0px;
      // position: relative;

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
    .top-img {
      margin-top: 90px;
    }
    .App {
      font-family: sans-serif;
      padding: 10px 30px;
    }

    .App > div {
      background-color: #5c2e91;
      background-color: #fff;
      color: #fff;
      color: #3498db;
      text-align: center;
    }
  }

  // .about-link-icon{
  //   width:20px;
  //    height: 20px;
  //    position:absolute;
  //    top: 3px;
  //    right: 83px;

  // }

  .offering {
    display: block;
    // max-width:1200px;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
  }
  .offering-info-flex {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .sayara-offer-heading {
    color: #151c28;
    font-size: 25px;
    font-family: "poppins";
    font-weight: 700;
    line-height: 47px;
    text-align: center;
  }
  .sayara-offer-p {
    color: #585562;
    font-size: 18px;
    font-family: "poppins";
    font-weight: 500;
    line-height: 27px;
    margin-top: 20px;
    text-align: center;
    padding: 0px 12px;
  }
  // .sayara-download-btn{
  //   background-color: #151C28 !important;
  //   // font-family: 'poppins';
  //   // padding:12px 25px !important;
  //   // font-size: 12px !important;
  //   font-family: Poppins;
  // font-style: normal !important;
  // font-weight: 600 !important;
  // font-size: 16px !important;
  // line-height: 24px !important;
  // /* identical to box height */

  // text-align: center !important;

  // color: #FFFFFF !important;
  // }
  .sayara-btngroup {
    text-align: center;
    margin-top: 23px !important;
  }
  .sayara-download-btn1 {
    background-color: transparent !important;
    // font-family: 'poppins';
    // padding:12px 25px !important;
    // font-size: 12px !important;
    font-family: "Poppins";
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    /* identical to box height */

    text-align: center !important;
    box-shadow: none !important;
    color: #ffffff !important;
  }
  .sayara-offering-card-flex {
    width: 100%;
    margin: 20px auto;
  }
  .sayara-offering-pkg {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  // .sayara-offering-pkg div{
  //   height: 180px;
  //   width: 180px;
  //   background-color: #FFFFFF;
  //   margin: 10px auto;
  //   border: 1px solid rgba(88, 85, 98, 0.16);
  //   border-radius: 12px;
  //   // margin: 10px 0px;
  // }

  .sayara-works-div {
    display: block;
    // max-width:1200px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }

  .sayara-works-flex-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .sayara-work-headings {
    color: #151c28;
    font-family: "Poppins";
    text-align: left;
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 25px;
  }

  .sayara-work-image-flex {
    width: 100%;
    margin: 20px auto;
  }
  .sayara-work-image {
    height: 100%;
    width: 100%;
    margin-top: 20%;
  }

  .our-custmers-content {
    margin: 0 auto;
    width: 100%;
    padding-top: 70px;
  }
  .custmer-para {
    color: #585562;
    font-size: 18px;
    font-family: "poppins";
    font-weight: 500;
    line-height: 27px;
    padding: 16px 30px;
  }
  .our-backbone-flex {
    width: 100%;
    margin: 0 auto;
  }
  .our-backbone-heading {
    color: #151c28;
    font-size: 40px;
    font-weight: 700;
    font-family: "poppins";
    line-height: 47px;
    text-align: center;
  }
  .our-backbone-para {
    color: #585562;
    font-size: 18px;
    font-family: "poppins";
    font-weight: 500;
    line-height: 27px;
    // margin-top: 20px;
    margin-top: 15px;
    padding-right: 0;
    padding: 12px 26px;
  }
  .our-backbone-btn {
    width: 100%;
    margin: 0px auto;
    text-align: center;
  }
  .our-backbone-btn1 {
    background-color: transparent !important;
    // font-family: 'poppins';
    // padding:12px 25px !important;
    // font-size: 12px !important;
    font-family: Poppins;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    /* identical to box height */

    text-align: center !important;
    box-shadow: none !important;
    color: #ffffff !important;
  }
  .our-backbone-right-arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 7px;
    right: -11px;
  }
  .ourbackbone-sliderweb {
    width: 100%;
    margin: 20px auto;
    display: none;
  }
  .ourbackbone-sliderphone {
    width: 100%;
    margin: 20px auto;
    display: block;
  }

  .sayara-app {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .sayara-app-info {
    width: 100%;
    height: auto;
  }
  .sayara-img-app {
    height: auto;
    width: 100%;
  }
  .sayara-app-content {
    width: 100%;
    margin: 20px auto;
    padding: 12px 43px;
  }
  .sayara-app-heading-group {
    margin-top: 83px;
  }
  // .sayara-app-heading{
  //   text-align:center;
  //   font-size:40px;
  //   font-family:'poppins';
  //   font-weight:700;
  //   line-height:48px;
  //   color:#151C28;
  // }
  // .sayara-app-heading{
  //   text-align:center;
  //   font-size:17px;
  //   font-weight:400;
  //   font-family:'poppins';
  //   line-height:50px;
  //   color:#585562
  // }
  .social-app-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 4px auto;
  }
  .social-flex1 {
    width: 40%;
  }
  .social-flex1 img {
    width: 100%;
    height: 100%;
  }
  .social-flex2 {
    width: 40%;
  }
  .social-flex2 img {
    width: 100%;
    height: 100%;
  }
  .our-backbone {
    display: block;
    max-width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }
  .our-backbone-flex {
    width: 100%;
  }
  .our-heading-para-group {
    margin-top: 70px;
  }
  .our-backbone-heading {
    color: #151c28;
    font-size: 31px;
    font-weight: 700;
    font-family: "poppins";
    line-height: 47px;
  }
  .our-backbone-para {
    color: #585562;
    font-size: 18px;
    font-family: "poppins";
    font-weight: 500;
    line-height: 27px;
    margin-top: 15px;
    /* padding-right: 38%; */
    text-align: center;
  }
  .our-backbone-btn {
    width: 100%;
  }
  .mobile-card {
    display: block;
  }
  .homeslider-main-div {
    text-align: center;
  }
  .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .card {
      background-color: red;
      margin: 30px auto;
      width: 255px;
      height: 250px;
      border-radius: 40px;
      // box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
      cursor: pointer;
      transition: 0.4s;
      .card_title {
        position: absolute;
        top: 80px;
        /* left: 17px; */
        padding-left: 34px;
        text-align: left;
        border-radius: 0px 0px 40px 40px;
        font-family: "poppins";
        font-weight: 400;
        font-size: 15px;
      }
      .card_heading {
        position: absolute;
        top: 53px;
        /* left: 17px; */
        padding-left: 34px;
        text-align: left;
        border-radius: 0px 0px 40px 40px;
        font-family: "poppins";
        font-weight: 400;
        font-size: 15px;
        // margin-top: -150px;
      }
      .card_image {
        width: inherit;
        height: inherit;
        border-radius: 40px;
        img {
          width: inherit;
          height: inherit;
          border-radius: 40px;
          object-fit: cover;
        }
      }
      .title-white {
        color: white;
      }

      .title-black {
        color: black;
      }
    }

    // .card:hover {
    //   transform: scale(0.9, 0.9);
    //   box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    //     -5px -5px 30px 15px rgba(0,0,0,0.22);
    // }
  }
  .banner-left-container h1 {
    color: #151c28;
    font-family: "Poppins";
    font-weight: 700px;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    padding: 12px 12px;
  }
  .banner-left-container p {
    font-size: 16px;
    text-align: center;
    font-family: "Poppins";
    font-weight: 400;
    padding: 12px 12px;
    line-height: 27px;
    color: #9093ad;
  }
  .dropdown {
    padding-left: 33px !important;
  }
  .img-div {
    width: 100%;
    margin: 0 auto;
    padding: 12px 16px 16px 0;
  }
  .dropdown-group {
    display: flex;
    flex-wrap: wrap;
  }

  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }

  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
// @media all and (max-width: 500px) {

// }
.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
  padding-top: 114px;
  padding-bottom: 25px;
}
.footer-background {
  background-color: #151c28;
  padding-bottom: 50px;
}
.footer-flex1 {
  width: 22%;
  height: 100%;
  margin: 0 auto;
}
.footer-logo-div {
  width: 200px;
  height: auto;
}
.footer-logo {
  width: 100%;
  height: auto;
}

.footer-icon-main {
  display: flex;
  margin-top: 25px;
}

.footer-logo-social {
  width: 10%;
  height: auto;
}
.footer-logo-social1 {
  width: 10%;
  height: auto;
  margin-left: 10px;
}
.social-logo-infooter {
  width: 100%;
  height: auto;
}

.footer-content {
  width: 15%;
  height: 100%;
  margin: 0 auto;
}

.footer-links {
  font-size: 14px;
  line-height: 41px;
  font-weight: normal;
  color: #d3d7df;
  font-family: "poppins";
}

.footer-content-flex1 {
  width: 15%;
  height: 100%;
  margin: 0 auto;
}

.footer-contents-flex2 {
  width: 10%;
  height: 100%;
  margin: 0 auto;
}

.footer-linkswithgooggle {
  width: 70px;
  height: auto;
  margin-left: 10px;
  margin-left: 10px;
}

.footer-copy-flex {
  width: 25%;
}
.footer-copy {
  font-size: 12px !important;
  font-family: "Poppins", sans-serif;
  color: rgba(211, 215, 223, 0.64);
}
.footers {
  display: flex;
  padding-top: 23px;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  border-top: 1px solid rgba(211, 215, 223, 0.16);
}
.footers-flex {
  display: flex;
  width: 35%;
}
.footer-linkswithgooggle1 {
  width: 70px;
  height: auto;
}
.homeslider-main-div {
  // background-color: yellow;
  padding: 0px 8px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 257px;
}
@media screen and(max-width:600px) {
  .homeslider-main-div {
    // background-color: yellow;
    padding: 0px 8px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 193px !important;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    align-items: flex-start;
    padding-top: 114px;
    flex-wrap: wrap;
    padding-bottom: 25px;
  }
  .footers {
    display: flex;
    // padding-top:23px;
    padding: 16px 16px;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid rgba(211, 215, 223, 0.16);
  }
  .footer-flex1 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .footer-flex {
    display: flex;
    width: 35%;
  }
  .footer-logo-div {
    width: 200px;
    height: auto;
    align-self: center;
    margin-left: 20%;
  }
  .footer-logo {
    width: 100%;
    height: auto;
  }

  .footer-icon-main {
    display: flex;
    margin-top: 25px;
    justify-content: center;
  }

  .footer-logo-social {
    width: 10%;
    height: auto;
  }
  .footer-logo-social1 {
    width: 10%;
    height: auto;
    margin-left: 10px;
  }
  .social-logo-infooter {
    width: 100%;
    height: auto;
  }

  .footer-content {
    width: 50%;
    height: 100%;
    margin: 0 auto;
  }

  .footer-links {
    font-size: 14px;
    line-height: 41px;
    font-weight: normal;
    color: #d3d7df;
    font-family: "poppins";
  }

  .footer-content-flex1 {
    width: 30%;
    height: 100%;
    margin: 0 auto;
  }

  .footer-contents-flex2 {
    width: 30%;
    height: 100%;
    margin: 0 auto;
  }

  .footer-linkswithgooggle {
    width: 70px;
    height: auto;
    margin-left: 10px;
  }
  .footer-linkswithgooggle1 {
    width: 70px;
    height: auto;
  }
  .footer-copy-flex {
    width: 100%;
    padding-top: 5px;
  }
  .footer-copy {
    font-size: 8px !important;
    text-align: right;
    line-height: 15px;
    color: rgba(211, 215, 223, 0.64);
  }
}

@media screen and(max-width:768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    align-items: flex-start;
    padding-top: 114px;
    flex-wrap: wrap;
    padding-bottom: 25px;
  }
  .homeslider-main-div {
    // background-color: yellow;
    padding: 8px 8px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 193px;
    margin: 0 auto;
  }
  .footers {
    display: flex;
    // padding-top:23px;
    padding: 16px 16px;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid rgba(211, 215, 223, 0.16);
  }
  .footer-flex1 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .footer-flex {
    display: flex;
    width: 35%;
  }
  .footer-logo-div {
    width: 200px;
    height: auto;
    align-self: center;
    margin-left: 20%;
  }
  .footer-logo {
    width: 100%;
    height: auto;
  }

  .footer-icon-main {
    display: flex;
    margin-top: 25px;
    justify-content: center;
  }

  .footer-logo-social {
    width: 10%;
    height: auto;
  }
  .footer-logo-social1 {
    width: 10%;
    height: auto;
    margin-left: 10px;
  }
  .social-logo-infooter {
    width: 100%;
    height: auto;
  }

  .footer-content {
    width: 50%;
    height: 100%;
    margin: 0 auto;
  }

  .footer-links {
    font-size: 14px;
    line-height: 41px;
    font-weight: normal;
    color: #d3d7df;
    font-family: "poppins";
  }

  .footer-content-flex1 {
    width: 30%;
    height: 100%;
    margin: 0 auto;
  }

  .footer-contents-flex2 {
    width: 30%;
    height: 100%;
    margin: 0 auto;
  }

  .footer-linkswithgooggle {
    width: 70px;
    height: auto;
    margin-left: 10px;
  }
  .footer-linkswithgooggle1 {
    width: 70px;
    height: auto;
  }
  .footer-copy-flex {
    width: 100%;
    padding-top: 5px;
  }
  .footer-copy {
    font-size: 8px !important;
    text-align: right;
    line-height: 15px;
    color: rgba(211, 215, 223, 0.64);
  }
}
@media (min-width: 768px) and (max-width: 968px) {
  .about {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    // align-items: flex-end;
  }
  .about-content-flex {
    width: 100%;
    margin: 20px auto;
  }
  .about-img-flex {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .about-img-div {
    width: 100%;
    margin: 0 auto;
    margin-top: 4rem;
    height: 100%;
  }
  .about-info {
    // position: relative;
    color: #222;
    display: block;
    align-items: center;
    margin-top: 25px;
    // padding: 0px 60px;
    .content-head-left {
      padding-top: 20px;
      width: 100%;
      h1 {
        text-align: center;
        font-size: 40px;
        font-family: "poppins";
        padding: 12px 16px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        padding: 12px 16px;
        font-family: "poppins";
        color: #585562;
        text-align: center;
      }
      // @media only screen and (max-width: 800px){
      //   padding-top:30px;
      //   padding-left:20px;
      // }
    }
    .content-head-right {
      width: 100%;
      position: relative;
      top: 20px;
      text-align: center;
      a {
        font-size: 22px;
        position: absolute;
        top: 0;
        font-weight: 600;
        left: 30%;
        text-align: center;
      }
    }
    .about-images {
      margin: 0 auto;
      margin-top: 94px;
      width: 90%;
      height: auto;
      padding-right: 0px;
      // position: relative;

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
    .App {
      font-family: sans-serif;
      padding: 10px 30px;
    }

    .App > div {
      background-color: #5c2e91;
      background-color: #fff;
      color: #fff;
      color: #3498db;
      text-align: center;
    }
  }

  // .about-link-icon{
  //   width:20px;
  //    height: 20px;
  //    position:absolute;
  //    top: 3px;
  //    right: 83px;

  // }

  .offering {
    display: block;
    // max-width:1200px;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
  }
  .offering-info-flex {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .sayara-offer-heading {
    color: #151c28;
    font-size: 25px;
    font-family: "poppins";
    font-weight: 700;
    line-height: 47px;
    text-align: center;
  }
  .sayara-offer-p {
    color: #585562;
    font-size: 18px;
    font-family: "poppins";
    font-weight: 500;
    line-height: 27px;
    margin-top: 20px;
    text-align: center;
    padding: 0px 12px;
  }
  // .sayara-download-btn{
  //   background-color: #151C28 !important;
  //   // font-family: 'poppins';
  //   // padding:12px 25px !important;
  //   // font-size: 12px !important;
  //   font-family: Poppins;
  // font-style: normal !important;
  // font-weight: 600 !important;
  // font-size: 16px !important;
  // line-height: 24px !important;
  // /* identical to box height */

  // text-align: center !important;

  // color: #FFFFFF !important;
  // }
  .sayara-btngroup {
    text-align: center;
    margin-top: 23px !important;
  }
  .sayara-download-btn1 {
    background-color: transparent !important;
    // font-family: 'poppins';
    // padding:12px 25px !important;
    // font-size: 12px !important;
    font-family: "Poppins";
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    /* identical to box height */

    text-align: center !important;
    box-shadow: none !important;
    color: #ffffff !important;
  }
  .sayara-offering-card-flex {
    width: 100%;
    margin: 20px auto;
  }
  .sayara-offering-pkg {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  // .sayara-offering-pkg div{
  //   height: 180px;
  //   width: 180px;
  //   background-color: #FFFFFF;
  //   margin: 10px auto;
  //   border: 1px solid rgba(88, 85, 98, 0.16);
  //   border-radius: 12px;
  //   // margin: 10px 0px;
  // }

  .sayara-works-div {
    display: block;
    // max-width:1200px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }

  .sayara-works-flex-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .sayara-work-headings {
    color: #151c28;
    font-family: "Poppins";
    text-align: left;
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 25px;
  }

  .sayara-work-image-flex {
    width: 100%;
    margin: 20px auto;
  }
  .sayara-work-image {
    height: 100%;
    width: 100%;
    margin-top: 20%;
  }

  .our-custmers-content {
    margin: 0 auto;
    width: 100%;
    padding-top: 70px;
  }
  .custmer-para {
    color: #585562;
    font-size: 18px;
    font-family: "poppins";
    font-weight: 500;
    line-height: 27px;
    padding: 16px 30px;
  }
  .our-backbone-flex {
    width: 100%;
    margin: 0 auto;
  }
  .our-backbone-heading {
    color: #151c28;
    font-size: 40px;
    font-weight: 700;
    font-family: "poppins";
    line-height: 47px;
    text-align: center;
  }
  .our-backbone-para {
    color: #585562;
    font-size: 18px;
    font-family: "poppins";
    font-weight: 500;
    line-height: 27px;
    // margin-top: 20px;
    margin-top: 15px;
    padding-right: 0;
    padding: 12px 26px;
  }
  .our-backbone-btn {
    width: 100%;
    margin: 0px auto;
    text-align: center;
  }
  .our-backbone-btn1 {
    background-color: transparent !important;
    // font-family: 'poppins';
    // padding:12px 25px !important;
    // font-size: 12px !important;
    font-family: Poppins;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    /* identical to box height */

    text-align: center !important;
    box-shadow: none !important;
    color: #ffffff !important;
  }
  .our-backbone-right-arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 7px;
    right: -11px;
  }
  .ourbackbone-sliderweb {
    width: 100%;
    margin: 20px auto;
    display: none;
  }
  .ourbackbone-sliderphone {
    width: 100%;
    margin: 20px auto;
    display: block;
  }

  .sayara-app {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .sayara-app-info {
    width: 100%;
    height: auto;
  }
  .sayara-img-app {
    height: auto;
    width: 100%;
  }
  .sayara-app-content {
    width: 100%;
    margin: 20px auto;
    padding: 12px 43px;
  }
  .sayara-app-heading-group {
    margin-top: 83px;
  }
  // .sayara-app-heading{
  //   text-align:center;
  //   font-size:40px;
  //   font-family:'poppins';
  //   font-weight:700;
  //   line-height:48px;
  //   color:#151C28;
  // }
  // .sayara-app-heading{
  //   text-align:center;
  //   font-size:17px;
  //   font-weight:400;
  //   font-family:'poppins';
  //   line-height:50px;
  //   color:#585562
  // }
  .social-app-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 4px auto;
  }
  .social-flex1 {
    width: 40%;
  }
  .social-flex1 img {
    width: 100%;
    height: 100%;
  }
  .social-flex2 {
    width: 40%;
  }
  .social-flex2 img {
    width: 100%;
    height: 100%;
  }
  .our-backbone {
    display: block;
    max-width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }
  .our-backbone-flex {
    width: 100%;
  }
  .our-heading-para-group {
    margin-top: 70px;
  }
  .our-backbone-heading {
    color: #151c28;
    font-size: 31px;
    font-weight: 700;
    font-family: "poppins";
    line-height: 47px;
  }
  .our-backbone-para {
    color: #585562;
    font-size: 18px;
    font-family: "poppins";
    font-weight: 500;
    line-height: 27px;
    margin-top: 15px;
    /* padding-right: 38%; */
    text-align: center;
  }
  .our-backbone-btn {
    width: 100%;
  }
  .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .card {
      background-color: red;
      margin: 30px auto;
      width: 255px;
      height: 250px;
      border-radius: 40px;
      // box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
      cursor: pointer;
      transition: 0.4s;
      .card_title {
        position: absolute;
        top: 80px;
        /* left: 17px; */
        padding-left: 34px;
        text-align: left;
        border-radius: 0px 0px 40px 40px;
        font-family: "poppins";
        font-weight: 400;
        font-size: 15px;
      }
      .card_heading {
        position: absolute;
        top: 53px;
        /* left: 17px; */
        padding-left: 34px;
        text-align: left;
        border-radius: 0px 0px 40px 40px;
        font-family: "poppins";
        font-weight: 400;
        font-size: 15px;
        // margin-top: -150px;
      }
      .card_image {
        width: inherit;
        height: inherit;
        border-radius: 40px;
        img {
          width: inherit;
          height: inherit;
          border-radius: 40px;
          object-fit: cover;
        }
      }
      .title-white {
        color: white;
      }

      .title-black {
        color: black;
      }
    }

    // .card:hover {
    //   transform: scale(0.9, 0.9);
    //   box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    //     -5px -5px 30px 15px rgba(0,0,0,0.22);
    // }
  }
  .banner-left-container h1 {
    color: #151c28;
    font-family: "Poppins";
    font-weight: 700px;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    padding: 12px 12px;
  }
  .banner-left-container p {
    font-size: 16px;
    text-align: center;
    font-family: "Poppins";
    font-weight: 400;
    padding: 12px 12px;
    line-height: 27px;
    color: #9093ad;
  }
  .dropdown {
    padding-left: 33px !important;
  }
  .img-div {
    width: 100%;
    margin: 0 auto;
    padding: 12px 16px 16px 0;
  }
  .dropdown-group {
    display: block;
  }

  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }

  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: transparent !important;
}
@media screen and (max-width: 600px) {
  .icon-div-homeicon {
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    margin: 0;
    border: none;
    border-radius: none;
  }
}

@media (min-width: 768px) and (max-width: 968px) {
  .icon-div-homeicon {
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    margin: 0;
    border: none;
    border-radius: none;
  }
  .mobile-card {
    display: block;
  }
}
