.blog-main {
  // background-image: ;
  background: linear-gradient(
      278.58deg,
      #151c28 27.28%,
      rgba(21, 28, 40, 0) 115.29%
    ),
    url("../images/blog.png");
  // mix-blend-mode: normal;
  // transform: matrix(-1, 0, 0, 1, 0, 0);
  background-size: cover;
  width: 100%;
  height: 500px;
  position: center;
  display: flex;
}
.blog-right {
  width: 100%;
  position: relative;
}
.content-div {
  width: 30%;
  margin: 1.5rem auto;
  margin-top: 5rem;
  position: absolute;
  right: 80px;
}
.block-card-link {
  color: #fb7e15;
}
.blog-head {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #fb7e15;
  padding: 12px 30px;
}
.main-head {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #fafafa;
  padding-left: 30px;
}

.blog-para {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: rgba(250, 250, 250, 0.7);
  padding-left: 30px;
  margin-top: 10px;
}

.blog-btn {
  background: #fafafa;
  border-radius: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  padding: 20px 56px;
  text-align: center;
  border: none;
  color: #151c28;
}
.link-readmore{
  color:#fb7e15 !important
}
.btn-group {
  text-align: center;
  margin-top: 20px;
  // justify-content: center;
  margin-left: 30px;
}

.container {
  display: flex;
  width: 1200px;
  justify-content: space-evenly;
  margin: 1.5rem auto;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  // box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
// .card-body {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: flex-start;
//   padding: 20px;
//   min-height: 100vh;
// }
.tag {
  // background: #cccccc;
  // border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fb7e15 !important;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
//   .tag-teal {
//     background-color: #47bcd4;
//   }
//   .tag-purple {
//     background-color: #5e76bf;
//   }
//   .tag-pink {
//     background-color: #cd5b9f;
//   }

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.link {
  font-size: 15px;
  justify-self: end;
}
.user_blog img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}
// .user-info {
//   width: 70%;
//   text-align: end;
// }
.date {
  color: black;
  text-align: start;
  margin-top: 1px;
  line-height: normal;
  width: 15em;
  font-size: 0.6em;
}
.card-heading {
  font-family: "poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #151c28;
}
.card-para {
  font-family: "poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #585562;
}
// .left-blog{
//     width:60%;
//     overflow: hidden;
// }
@media screen and (max-width: 600px) {
  .blog-main {
    // background-image: ;
    background: linear-gradient(
        278.58deg,
        #151c28 27.28%,
        rgba(21, 28, 40, 0) 115.29%
      ),
      url("../images/blog.png");
    // mix-blend-mode: normal;
    // transform: matrix(-1, 0, 0, 1, 0, 0);
    background-size: cover;
    width: 100%;
    height: auto;
    position: center;
    display: block;
  }
  .left-blog {
    width: 100%;
    display: block;
  }

  .content-div {
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
    position: unset;
    // right: 80px;
  }
  .blog-right {
    width: 100%;
    display: block;
    position: unset;
  }
  .blog-head {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #fb7e15;
    text-align: center;
    // padding: 12px 30px
  }
  .main-head {
    font-family: "poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #fafafa;
    // padding-left: 30px
  }

  .blog-para {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: rgba(250, 250, 250, 0.7);
    // padding-left: 30px;
    margin-top: 10px;
  }

  .blog-btn {
    background: #fafafa;
    border-radius: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    // padding: 20px 56px;
    text-align: center;
    border: none;
    color: #151c28;
  }
  .btn-group {
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    margin-left: 0px;
    padding-bottom: 20px;
  }
  .container {
    display: block;
    width: 100%;
    justify-content: space-evenly;
    margin: 1.5rem auto;
    flex-wrap: wrap;
  }
}
