// /* body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// } */
// @import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap";

// @import "./variables";
// @import "./mixins";
// @import "./modal.scss";
// // @import "./landing/style";
// // @import "./auth//auth";
// // @import "./tutor/dashboard/dashboard";
// // @import "./tutor/onboarding/onboarding";
// // @import "./student/dashboard/dashboard.scss";
// // @import "./student/session/session.scss";
// // @import "./comp/Col.scss";
// // @import "./comp/Row.scss";
// // @import "./comp/Card.scss";
// // @import "./comp/ToggleSwitch.scss";
// // @import "./comp/TabSwitch.scss";
// // @import "./student/findTutor/findTutor.scss";
// // @import "./comp/Panel.scss";
// // @import "./comp/TutorFilterPanel.scss";
// // @import "./comp/FormGroup.scss";
// // @import "./comp/RangeSlider.scss";
// // @import "./comp/Label.scss";
// // @import "./comp/CheckBox.scss";
// // @import "./student/askAquestion/askAquestion.scss";
// // @import "./student/myQuestion/myQuestion.scss";
// // @import "./comp/TabSwitchV2.scss";
// // @import "./student/urTutorNow/urTutorNow.scss";
// // @import "./student/myTutors/myTutors.scss";
// // @import "./comp/Modal.scss";
// // @import "./student/notifications/notifications.scss";
// // @import "./student/paymentSettings/paymentSettings.scss";
// // @import "./comp/CardPanel.scss";
// // @import "./student/transaction/transaction.scss";
// // @import "./student/profile/profile.scss";
// // @import "./student/messages/messages.scss";
// // @import "./comp/MessagePanel.scss";
// // @import "./tutor/sessionCalendar/sessioncalendar";
// // @import "./student/tutorProfile/tutorProfile";
// // @import "./student/tutorHeading/tutorHeading";
// // @import "./comp/DatePicker.scss";
// // @import "./comp/ButtonSelectableSmall.scss";
// // @import "./tutor/workinghour/workinghour";
// // @import "./modal.scss";
// // @import "./comp/SuccessModal.scss";
// // @import "./comp/ErrorModal.scss";
// // @import "./comp/Loader.scss";
// // @import "./comp/SearchInput.scss";
// // @import "./comp/SearchAutoComplete.scss";
// // @import "./comp/DashCard.scss";
// // @import "./privacy-policy/privacyPolicy.scss";
// // @import "./tutor/dashboard/urtutorNowModal.scss";

// //-----------------------------------------------------------------------------------------------------

// body {
//   margin: 0px;
//   padding: 0px;
//   font-family: "Poppins", sans-serif;
//   background: $color-background;
// }
// * {
//   box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-boxs;
// }
// ul {
//   margin: 0px;
//   padding: 0px;
// }
// li {
//   list-style: none;
// }
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: "Poppins", sans-serif;
//   margin: 0;
// }
// h2 {
//   font-weight: bold;
//   font-size: 30px;
//   line-height: 45px;
//   text-align: center;
//   color: $color-white;
//   @include for-phone-only {
//     font-size: 18px;
//     line-height: 27px;
//   }
// }
// h3 {
//   font-weight: bold;
//   font-size: 36px;
//   line-height: 54px;
//   color: $color-blue;
//   @include for-phone-only {
//     font-size: 18px;
//     line-height: 27px;
//   }
// }

// p {
//   font-family: "Poppins", sans-serif;
//   font-weight: 400;
//   font-size: 18px;
//   line-height: 27px;
//   color: $color-dark-grey;
//   margin: 10px 0;

//   @include for-phone-only {
//     font-size: 14px;
//     line-height: 21px;
//   }
// }
// .default-btn {
//   @include default-btn;
//   @include for-phone-only {
//     width: 118px;
//     height: 32px;
//     line-height: 32px;

//     font-size: 14px;
//   }
// }
// p.pad240 {
//   padding: 0 240px;
//   margin: 0;
//   text-align: center;
//   @include for-phone-only {
//     padding: 0 20px;
//   }

//   @include for-tablet-portrait-up {
//     padding: 0 120px;
//   }
// }
// .main-wrapper {
//   width: 100%;
//   @include for-phone-only{
//     background-color: white;
//   }
// }
// .container {
//   max-width: 1220px;
//   margin: 0 auto;
//   padding: 0;

//   @include for-tablet-portrait-up {
//     padding-left: 20px !important;
//     padding-right: 20px !important;
//   }
// }

// .scrollbar {
//   &::-webkit-scrollbar {
//     display: none;
//   }
// }

// .float-right1 {
//   @include float-right();
// }
 /* @import url('https://fonts.googleapis.com/css?family=Literata:400,400i,500,500i,600,600i,700,700i&display=swap'); */
  /* @import url('https://fonts.googleapis.com/css?family=Neuton:200,300,400,400i,700,800&display=swap'); */

  @import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

  @import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
 
  body{
    background-image: linear-gradient(to bottom, #fff1b0, #e6df9e, #cecd8c, #b6bb7b, #9ea96b, #879c65, #728e60, #5e805a, #4c715a, #416256, #3b524e, #394242);
    color:#fff;
    background:rgb(255, 255, 255);
    font-family: "Poppins", sans-serif; 
    font-size:1.3em;
    font-weight:900;
    min-height:100vh;
    color:#fff;
    width: 100%;
  }
  h1{
    font-weight:900;
    font-size:2.7rem;
  }
  a{
    text-decoration: none;
  }
  .content{
    width:78%;
    margin:0px auto;
    padding:100px;
    @media only screen and (max-width: 800px){
      width:100%;
      padding:10px;
    }
  }

.form-image-background{
background: url('../images/signup.png');
background-size: cover;
width: 100%;
height: 500px;

}
.form-position{
  position: relative !important;
  top: -160px !important;
}
.form-headings{
    font-family: 'poppins';
font-style: normal;
font-weight: 600;
font-size: 44px;
line-height: 120%;
/* identical to box height, or 53px */


color: #FAFAFA;
}
  .masthead{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
    min-height: 40vh;
    color:#222;
    @media only screen and (max-width: 800px){
      h1{
        font-size: 1.4em;
      }
    }
  }